.movieDetails{
    background-color: #424242;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 10px;
    height: 210px;
}

.movieDetails .searchButtonContainer{
    text-align: right;
    height: 30px;
}

.movieDetails .searchButtonContainer img{
    text-align: right;
    cursor: pointer;
    height: 30px;
}

.movieDetails .poster img{
    height: 150px;
}

