.movieSearch{
    background-color: #424242;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 10px;
    height: 300px;
}

.addMovieContainer{
    text-align: right;
}

.addMovieContainer button{
    text-align: right;
    background-color: #23232380;
    border-style: none;
    border-radius: 4px;
    font-size: 1.5em;
    padding: 10px 20px;
    color: #F65261;
    text-transform: uppercase;
    cursor: pointer;
}

.headerText{
    grid-column: 1 / 3;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    margin-left: 50px;
}

.searchForm{
    margin: 0 10px;
    text-align: center;
    grid-column: 1 / 3;
    display: grid;
    margin-left: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 10px;
}

.searchInput{
    background-color: #232323;
    border-style: none;
    border-radius: 4px;
    font-size: 1.5em;
    padding: 20px 20px;
    color: white;
    grid-column: 1 / 3;
}

.searchButton{
    background-color: #F65261;
    border-style: none;
    border-radius: 4px;
    color:white;
    font-size: 1.5em;
    padding: 20px 100px;
    text-transform: uppercase;
}