.movieContainer {
    background-color: #232323;
    padding: 0 40px 10px 40px;
    display: grid;
}

.movieContainer .filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

.movieContainer .searchCount {
    color: white;
    font-size: 1.2em;
    padding-top: 10px;
}

.movieContainer .searchCount span {
    font-weight: bold;
}

.movieContainer .searchResults {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
}

.movieContainer .noResults {
    color: white;
    font-size: 3em;
    margin: 100px auto;
}
